$bg: #f7f7f7;
$blue: #304ffe;
$black_grey: #1f2126;
$grey: #4b4f5d;
$white_grey: #8a91a2;
$white: #fff;
$black: #000;
$transparent_bg: rgba(158, 158, 159, 0.10980392156862745);;
$blue_gradient: linear-gradient(
  190deg,
  rgba(51, 8, 103, 1) 0%,
  rgba(46, 46, 210, 1) 50%,
  rgb(7, 66, 114) 100%
);

//custom scroll bar
/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $blue; 
	border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $blue_gradient; 
}

//Responsive media Queries
$xs-phone: "(max-width: 575px)";
$phone: "(min-width: 576px) and (max-width: 767px)";
$tablet: "(max-width: 1023px)";
$desktop: "(min-width: 1024px)";
//---------------------------------//

//basic setup-------------------
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Playfair Display";
  margin: 0;
  padding: 0;
  transition: all 0.5s ease-in-out;
  position: relative;
  background: $bg;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
	color: $white;
}

p {
  margin: 0.5em 0;

  &.name {
    font-weight: bold;
    margin-top: 1.5em;
    color: $black_grey;
  }

  &.sub_name {
    color: $white_grey;
  }

  &.name,
  .sub_name {
    font-size: 1.2em;
  }

  &.auto_type {
    margin-left: 1em;
    font-size: 5vmin;
    height: 1em;
    font-weight: bold;
    color: currentColor;
  }
}

//aside bar setup--------------------------------------

aside {
  background: $white;
  text-align: center;
  position: fixed;
  min-width: 15vw;
  height: 100vh;
  z-index: 1;
  box-shadow: 0 1px 14px 0px rgba(0, 0, 0, 0.1);

  header.brand img {
    border-radius: 50%;
    max-width: 100px;
    max-height: 100px;
    margin-top: 100px;
    box-shadow: 0px 20px 20px 0px rgba(63, 78, 165, 0.1);
    border: 2px dashed $blue;
    padding: 1px;
  }
}

//nav bae setup---------------------------------------------------

.nav {
  margin-top: 5em;

  .nav_items {
    display: block;
    font-weight: bold;
    text-align: center;
    color: $grey;
    margin-top: 1.5em;
    white-space: nowrap;

    &:hover,
    &.active {
      color: $blue;
      margin-left: 20px;
      transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 26px;
    margin-top: 2.5em;
    font-family: inherit;
    &::before {
      position: absolute;
      content: "Theme";
      top: -22px;
      left: 5px;
    }
    input {
      opacity: 0;
      width: 0;
      height: 0;
      &:checked + .slider {
        background: #2196f3;
      }
      &:focus + .slider {
        box-shadow: 0 0 1px #2196f3;
      }
      &:checked + .slider::before {
        transform: translateX(32px);
      }
    }
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #ccc;
      transition: 0.4s;
      &::before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 1px;
        bottom: 0px;
        background: $white;
        transition: 0.4s;
      }
      &.round {
        border-radius: 34px;

        &::before {
          border-radius: 50%;
        }
      }
    }
  }
}

//social media icons setup----------------------------
.social {
  margin: 2em 0 2em 0;

  .github,
  .fb,
  .mail,
  .codepen {
    display: inline-block;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    padding: 0.1em;
    line-height: 1.2;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    margin: 5px;

    &:hover {
      transform: scale(1.5);
      transition: all 0.2s ease-in-out;
    }
  }

  .fb {
    background-color: #3b5998;
    color: $white;
  }
  .github {
    background-color: #ecd71b;
    color: rgb(0, 0, 0);
  }
  .mail {
    background-color: red;
    color: $white;
  }
  .codepen {
    background-color: #d40d70;
    color: $white;
  }
}

// main section----------------------------------

main {
  display: grid;
  grid-template-columns: 15vw auto;
}

section {
  min-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  grid-column-start: 2;
  border-bottom: 2px dashed $blue;
  padding: 5em 0;
}

#home {
  background: $bg url(https://i.postimg.cc/JhMZ3KB0/home-bg.png) no-repeat;;
  background-position: center;
  background-size: contain;
  overflow: hidden;

  .title img {
    max-width: 80%;
    width: 70%;
    margin: 15vh 0 2vh 5vh;
  }

  .contact_btn {
    margin: 5em 0 0 3em;
    background: $blue;
    color: $white;
    display: block;
    width: 18vmax;
    height: 3em;
    text-align: center;
    line-height: 3em;
    border-radius: 5px;
  }

  div.hire {
    background: $white;
    width: 15vmax;
    height: 8vmax;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    text-align: center;
    line-height: 10vmax;
    text-transform: uppercase;
    color: $blue;
    text-decoration: underline;
    cursor: pointer;
    font-size: 0.85em;
    position: fixed;
    top: 0;
    right: 5vw;
    z-index: 1;
    box-shadow: 0 1px 14px 0px rgba(0, 0, 0, 0.1);
    &:hover {
      background: $blue;
      color: $white;
      transition: all 0.2s ease-in-out;
    }
  }
}
//nav icon---------------------------------------------
.nav-icon {
  margin: 1em;
  width: 40px;
  position: fixed;
  top: 2vh;
  left: 2vw;
  display: none;
  @media #{$tablet} {
    display: block;
  }
  &::after,
  &::before,
  div {
    background-color: $black;
    border-radius: 3px;
    content: "";
    display: block;
    height: 5px;
    margin: 7px 0;
    transition: all 0.2s ease-in-out;
  }
}
.slideout-open .nav-icon {
  &::before {
    transform: translateY(12px) rotate(135deg);
  }
  & div {
    transform: scale(0);
  }

  &:after {
    transform: translateY(-12px) rotate(-135deg);
  }
}
//all the titles------------------------------------
#works .title,
#about .title,
#skills .title,
#contact .title {
  margin-left: 1em;
  color: $black_grey;
  background: $transparent_bg;
  padding: 1em 0 1em 2em;
  border-radius: 50px;
	font-size: 1.5em;
	font-weight: bold;
  span {
    color: $blue;
  }
}
.title_sub {
  margin: 1em 0 0 3.7em;
  span {
    color: $blue;
  }
}

.projects {
  display: flex;
  flex-wrap: wrap;
  margin: 3em 2em;
  .item {
    background: $white;
    margin: 1.5em 0.7em;
    position: relative;
    width: 247px;
    &:hover {
      box-shadow: 3px 7px 19px 2px rgba(138, 138, 138, 0.3);
      transition: all 0.1s ease-in-out;
      cursor: pointer;

      .caption {
        color: $blue;
      }
    }
    i {
      color: $black;
    }
    img {
      height: 200px;
      width: 247px;
      border-bottom: 1px solid $blue;
      border-top: 1px solid $blue;
    }

    .caption {
      height: 105px;
      padding: 1em;

      p {
        font-size: 1em;
        span {
          font-weight: bold;
        }
      }
      a {
        text-decoration: none;
        margin: 0 5px;

        &.download,
        &.preview {
          padding: 8px 12px;
          transition: all 0.1s ease-in-out;
          background: $white;
          box-shadow: 0 -4px 19px 0px rgba(138, 138, 138, 0.15);
        }
        &.download {
          position: absolute;
          right: 35px;
          bottom: 0;
        }
        &.preview {
          position: absolute;
          right: -5px;
          bottom: 0;
        }
        &:hover {
          background: $blue;
          i {
            color: $white;
          }
        }
      }
    }
  }
}
//about------------------------------------------------

.about-info {
  margin: 5em 2em;
  display: grid;
  grid-gap: 30px;
  grid-template-areas: "bioimage bio bio" "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);
  .bio-image {
    margin: auto;
    max-width: 100%;
    width: 20vw;
    border: 3px solid $blue;
    padding: 1px;
    border-radius: 50%;
    grid-area: bioimage;
  }
  .bio {
    font-size: 1.5rem;
    grid-area: bio;
  }
  .job-1,
  .job-2,
  .job-3 {
    padding: 0.5rem;
    border-bottom: $blue 5px solid;
    background: $white;
  }
  .job-1 {
    grid-area: job1;
  }
  .job-2 {
    grid-area: job2;
  }
  .job-3 {
    grid-area: job3;
  }
}
//skills---------------------------------------

#skills {
  .skill_progress {
    padding: 5em;
    background: lightgray;
    border-radius: 40px;
    margin: 3em;
    
    @media #{$tablet} {
      padding: 1em;
      margin: 2em 1em;
    }
    .skillbar {
      position: relative;
      display: block;
      margin-bottom: 15px;
      width: 100%;
      background: #eee;
      height: 35px;
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      -webkit-transition: 0.4s linear;
      -moz-transition: 0.4s linear;
      -ms-transition: 0.4s linear;
      -o-transition: 0.4s linear;
      transition: 0.4s linear;
      -webkit-transition-property: width, background-color;
      -moz-transition-property: width, background-color;
      -ms-transition-property: width, background-color;
      -o-transition-property: width, background-color;
      transition-property: width, background-color;

      .skillbar-title {
        position: absolute;
        top: 0;
        left: 0;
        width: 110px;
        font-weight: bold;
        font-size: 13px;
        color: #ffffff;
        background: #6adcfa;
        -webkit-border-top-left-radius: 3px;
        -webkit-border-bottom-left-radius: 4px;
        -moz-border-radius-topleft: 3px;
        -moz-border-radius-bottomleft: 3px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        span {
          display: block;
          background: rgba(0, 0, 0, 0.1);
          padding: 0 20px;
          height: 35px;
          line-height: 35px;
          -webkit-border-top-left-radius: 3px;
          -webkit-border-bottom-left-radius: 3px;
          -moz-border-radius-topleft: 3px;
          -moz-border-radius-bottomleft: 3px;
          border-top-left-radius: 3px;
          border-bottom-left-radius: 3px;
        }
      }
      .skillbar-bar {
        height: 35px;
        width: 0px;
        background: #6adcfa;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
      }
    }

    .skill-bar-percent {
      position: absolute;
      right: 10px;
      top: 0;
      font-size: 13px;
      height: 35px;
      line-height: 35px;
      color: rgba(0, 0, 0, 0.68);
    }
  }
}
// contact form---------------------------------------------

#my_form {
  width: 50%;
  margin: 10% auto;
  min-width: 10rem;

  textarea {
    height: 10rem;
  }

  input,
  textarea {
    width: 100%;
    max-width: 100%;
    border: none;
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    background: darken(#f9f9f9, 10%);
    color: darken(#f9f9f9, 50%);

    &[type="submit"] {
      background: $blue;
      color: $white;
      width: auto;
      float: right;
      cursor: pointer;

      &:hover {
        background: darken($blue, 10%);
      }
    }

    &::placeholder {
      color: darken(#f9f9f9, 50%);
    }
  }
}

	#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: $blue;
  color: $white;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
		&.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
		}
}
	@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

#main-footer {
  height: 60px;
  padding: 1rem;
  max-width: 100vw;
  margin-left: 15vw;
  text-align: center;
  color: $white;
  background: $black_grey;
}

// Slideout.js styles

.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  width: min-content;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
  @media #{$tablet} {
    width: 256px;
  }
  @media #{$desktop} {
    display: block;
  }
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
}
.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: auto;
}

.slideout-open .slideout-menu {
  display: block;
}

//-------------------------------------

//blue mode
.dark-mode {
  color: $white;
  background: $blue_gradient;
  p {
    color: $white;
  }
  aside {
    background: $blue_gradient;
  }
  .nav {
    .nav_items {
      color: $white;
      &:hover {
        color: #ecd71b;
      }
    }
  }
  section {
    background: rgb(48, 207, 208);
    background: $blue_gradient;
  }
  #home {
    background: $blue_gradient;
    div.hire {
      box-shadow: -3px 9px 13px 9px rgba(61, 12, 255, 0.31);
      background: rgba(51, 8, 103, 1);
      color: $white;
      &:hover {
        background: $white;
        color: $blue;
      }
    }
  }
  #skills {
    color: $black;
  }
  #works .title,
  #about .title,
  #skills .title,
  #contact .title {
    color: $white;

    span {
      color: $blue;
    }
  }
  .projects .caption {
    p {
      color: $black;
    }
  }
  .about-info {
    .job-1,
    .job-2,
    .job-3 {
      color: $black;
      p {
        color: $black;
      }
    }
  }
  .nav-icon {
    &::after,
    &::before,
    div {
      background-color: $white;
    }
  }
}

//Responsive
@media #{$tablet} {
  aside header.brand img {
    margin-top: 5vh;
  }
  .nav {
    margin-top: 2em;
  }
  .social {
    margin-top: 4em;
  }
  main {
    display: grid;
    grid-template-columns: 1fr;
  }
  #home .title {
    margin-left: 1.4em;
  }
  #home div.hire {
    font-size: 0.75em;
  }

  #about .title_sub {
    margin: 1em 0 0 2em;
  }
  #works .title,
  #about .title,
  #skills .title,
  #contact .title {
    margin-left: 0;
  }
  .projects {
    justify-content: center;
  }
  .about-info .bio {
    font-size: 1.2rem;
  }
	#my_form {
    width: 80%;
	}
  #main-footer {
    margin: 0;
  }
}
@media #{$phone} {
  .projects {
    margin: 3em 0 0 0;
  }
  .about-info {
    grid-gap: 1em;
  }
  .about-info .bio-image {
    width: 28vw;
  }
}
@media #{$xs-phone} {
  h2 {
    font-size: 1em;
  }
  #home .contact_btn {
    margin: 2em 0 0 3em;
    height: 2em;
    line-height: 2em;
    font-size: 14px;
  }

  #home div.hire {
    line-height: 7vmax;
  }
  .projects .item .caption p {
    font-size: 0.8em;
  }
  .about-info {
    margin: 5em 2em;
    grid-gap: 30px;
    grid-template-areas: "bioimage" "bio" "job1" "job2" "job3";
    grid-template-columns: 1fr;
  }
  .about-info .bio-image {
    width: 70vw;
  }
  #skills {
    .skill_progress {
      justify-content: center;
    }
    .progress_items {
      height: 150px;
      width: 200px;
      margin: 2em;
    }
  }
}
